$title: #888;
$box-bg: #e6ebe0;
$box-radius: 5px;
$text: #444;
$redes: (facebook, #3b5998), (twitter, #00aced), (gplus, #dd4b39);
$title-font-family: 'Georgia', serif;
$font-family: 'Helvetica', sans-serif;
$fp: 16px;

